.back {
	background-image: url('../img/bicycle-back.png');
	width: 315px;
	height: 440px;
	background-size: contain;
	position: relative;
	float: left;
	display: inline-block;
}

.front {
	background-image: url('../img/french-suits.svg');
}

.card-container:hover

/*.card-container {
	display: inline-block;
}
//